body {
  background-color: rgb(157, 199, 200);
  
}
#myForm {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
#myForm fieldset {
 text-align: center;
}
table {
  display: flexbox;
  justify-content: center;
  width: 65%;
  margin-left: 333px;
  margin-top: 100px;
}
thead {
  
  flex: content;
  padding: 10px;
  padding: black;

}
th {
  
  padding: px;
}
td {
  padding: 15px;
  border: solid 2px black;
  background-color: rgb(255, 226, 254);
}